h3{
    text-decoration:underline;
}
.p1{
    color: blue;
}
a{
    color: yellow;
}
.a1{
    color:red;
}
.highlight{
    background-color: yellow;
    color: black;
}

.m1{
    color: blue;
    list-style-type: none;
}
.c1{
    color: blue;
}